.mycontent{
    width: 50%;
    margin-top: 10%;
    margin-left: 30%;
 

}

h2{
    width: 50%;
    margin-top: 10%;
    margin-left: 35%;
    padding: 10px;
    color: white;
  
}

body{
    background-color:rgb(6, 6, 102)  ;
}